$color-0: #6e5773;
$color-1: #d45d79;
$color-2: #ea9085;
$color-3: #e9e2d0;

$white: #ffffff;
$black: #000000;

$pastel-accent: #d9e4dd;
$pastel-cream: #fbf7f0;
$pastel-grey: #cdc9c3;
$pastel-dark: #555555;
