@import "./../../_utils/css/color.scss";
@import "./../../_utils/css/bootstrap_mixins";

.container-x {
  .bill-board {
    height: 550px;
    position: relative;
    display: flex;
    align-items: flex-end;

    .carousel {
      height: 450px;
      width: 100%;
      margin-bottom: 30px;
    }

    .bill-board-img {
      height: 450px;
      width: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    .bill-board-caption {
      height: 100%;
      width: 60%;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      background: rgba($color: $white, $alpha: 0.8);
      padding: 1em;

      font-size: 56px;
      font-weight: 900;
      text-align: right;
      text-transform: uppercase;
      font-family: Poiret One;
    }
  }

  .categories-sec {
    max-width: 1366px;
    margin: 2em auto;
    padding: 0 2em;

    .category {
      margin-bottom: 5em;

      .title {
        font-size: 54px;
        line-height: 98px;
        font-weight: 900;
        font-family: Poiret One;
        text-transform: uppercase;
        text-align: right;
      }

      .category-description {
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 30px;

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-end;

        .header {
          flex: 1;

            .description {
              width: 100%;
              height: 64px;
              text-overflow: ellipsis;
            }
        }
      }

      .category-description-reverse {
        flex-direction: row-reverse;

        .header .title {
          text-align: left;
        }
      }
    }
  }

  .category-products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .category-image {
      flex: none;
      height: 675px;
      width: 500px;
      background: url(/images/home_bg.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    .products-list {
      flex: 1;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      height: 675px;
      overflow: hidden;
    }

    .product-item {
      height: 320px;
      width: 230px;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      margin: 0 1em 2em;

      border: 1px solid #cdc9c3;

      .name {
        width: 100%;
        padding: 0px 10px;
        line-height: 40px;
        background-color: $pastel-cream;
        text-transform: uppercase;
      }

      .price {
        width: 100%;
        padding: 0px 10px;
        line-height: 50px;
        font-weight: 600;
        background-color: $pastel-grey;
        text-transform: uppercase;

        cursor: pointer;
      }
    }

    .shop-btn {
      display: none;
    }
  }
}

.shop-btn {
  flex: none;
  min-width: 180px;
  background: $color-2;
  padding: 1em;
  margin-right: 2em;

  font-weight: 600;
  text-transform: uppercase;
  text-align: center;

  cursor: pointer;
}

@include media-breakpoint-down(sm) {
  .container-x {
    .bill-board {
      height: 320px;

      .carousel {
        height: 320px;
        margin-bottom: 0px;
      }

      .bill-board-img {
        height: 320px;
        background-size: 200% 100%;
      }

      .bill-board-caption {
        width: 100%;
        padding: 1em 1.5em;
        font-size: 36px;
        text-align: center;
      }
    }

    .categories-sec {
      font-size: 0.9em;
      padding: 0 0.75em;
      margin-bottom: 80px;
      .category {
        .category-title {
          font-size: 36px;
          line-height: 72px;
        }

        .category-description {
          font-size: 16px;

          .shop-btn {
            display: none;
          }
        }
      }
    }

    .category-products {
      position: relative;
      .category-image {
        display: none;
      }

      .products-list {
        height: 520px;
        justify-content: space-around;
      }

      .product-item {
        height: 250px;
        width: 170px;

        font-size: 0.7em;
        margin: 0 0 1em;

        .price {
          line-height: 35px;
        }
      }

      .shop-btn {
        display: block;
        min-width: 120px;
        position: absolute;
        bottom: -60px;
        left: 50%;
        margin: 0px;
        padding: 0.7em;
        transform: translateX(-50%);
      }
    }
  }
}

@include media-breakpoint-only(md) {
  .container-x {
    .category-products {
      .category-image {
        height: 675px;
        width: 380px;
      }

      .products-list {
        height: 675px;
      }

      .product-item {
        height: 320px;
        width: 215px;

        margin: 0 1em 2em;
        font-size: 0.9em;
      }
      .shop-btn {
        display: none;
      }
    }
  }
}
